<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue测试01</title>
</head>
<body>
<div id="app">  
    <p>苹果的数量是<input type="number" v-model.number="num1">个! <button v-on:click="addNum1">add</button>
    <span v-if="num1 === 0">- 没有库存了 </span> </p>
    <p>香蕉的数量是<input type="number" v-model.number="num2">个! <button v-on:click="addNum2">add</button> 
    <span v-if="num2 === 0">- 没有库存了 </span> </p>  
    <p>商品的总数是:{{totalNum}}</p>
    <button v-on:click="modifyInfo">重置</button>  
</div>  
<script src="https://cdn.bootcss.com/vue/2.2.2/vue.js"></script>        
<script>  
	const app = new Vue({  
		el: '#app',  
		data:{  
		    num1 :0,  
		    num2 :0 
		}, 

		methods:{  
		    modifyInfo:function(){  
		        this.num1 = 0, 
		        this.num2 = 0
		    },  
		    addNum1:function(){
		    	this.num1++
		    },
		    addNum2:function(){
		    	this.num2 ++
		    }
		},
		computed:{
			totalNum(){
				return this.num1 + this.num2
			}
		}
	}) 
</script>	
</body>
</html>